{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Property</h1>
{% include 'flash_messages.html' %}

<div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{url_for('get_image',id=prop.id)}}" class="card-img" alt="{{prop.ptitle}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{prop.ptitle}}</h5>
            <div class = "tags">
                <span class="tag">${{prop.price}}</span>
                <span class="tag">{{prop.ptype}}</span>
            </div>
            
            <p class="card-text">{{prop.desc}}</p>
            <div class="rbth">
                <span class="tag">{{prop.rooms}} Bedrooms</span>
                <span class="tag">{{prop.brooms}} Bathrooms</span>
            </div>
            <span class="tag">{{prop.locat}}</span>
            <div class = "bhold">
                <button class="pbut">Email Realtor</button>
            </div>
            
        </div>
      </div>
    </div>
  </div>


{% endblock %}